/*font-family: "Playfair Display", serif;
font-family: "Poppins", sans-serif;*/
:root {
  --contact-color: #6c53ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

.logo {
  max-width: 150px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: #272142;
}

nav a:hover,
nav li.active a {
  color: var(--contact-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}
h4 {
  font-size: 48px;
}
p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 80px 20px;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.content-container {
  background: white;
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content-container h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content-container p {
  font-size: 14px;
}

.content {
  padding: 40px 20px;
  margin: 30px;
}

#my-pic {
  padding: 160px 20px;
  border-radius: 50%;
}

.btn-contact {
  border-radius: 4px;
  color: white;
  background: var(--contact-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-learn-more {
  color: var(--contact-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border: 1px solid var(--contact-color);
}

.project-description {
  padding: 120px 60px;
}

footer {
  margin: 60px 0;
}

.contact-box {
  background-color: var(--secondary-color);
  padding: 30px 60px;
  border-radius: 10px;
}

.contact-box p {
  margin: 0;
}
.email-link {
  font-size: 24px;
  color: black;
  text-decoration: none;
}

.email-link:hover {
  color: var(--contact-color);
}

.social-links a {
  margin: 0 20px;
  color: var(--contact-color);
  background-color: var(--secondary-color);
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 50%;
  transform: all 100ms ease-in-out;
}

.social-links a:hover {
  color: white;
  background-color: var(--contact-color);
}
@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 44px;
  }
  .content {
    padding: 0;
    text-align: center;
  }
  #my-pic {
    padding: 0;
    display: block;
    margin: auto;
  }
  nav a {
    font-size: 14px;
  }
}
